# Django
DEBUG=True
SECRET_KEY=cambia_esto_por_una_clave_larga_y_aleatoria
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (Docker)
DB_NAME=ENSAMBLIA_DB
DB_USER=root
DB_PASSWORD=ensamblia2026
DB_HOST=127.0.0.1
DB_PORT=5434

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=120

# CORS
CORS_ALLOW_ALL_ORIGINS=True

# Redis (WebSockets)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# MinIO (S3-compatible)
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=cambia_esto
MINIO_SECRET_KEY=cambia_esto_min_8_chars
MINIO_BUCKET_NAME=ensamblia-media
MINIO_PUBLIC_URL=http://127.0.0.1:9000