# Django
DEBUG=True
SECRET_KEY=cambia_esto_por_una_clave_larga_y_aleatoria
ALLOWED_HOSTS=localhost,127.0.0.1

# Database 
DB_NAME=EMNSAMBLIA_DB
DB_USER=root
DB_PASSWORD=ensamblia2026
DB_HOST=127.0.0.1
DB_PORT=5434

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=120

# CORS
CORS_ALLOW_ALL_ORIGINS=True