--
-- PostgreSQL database dump
--

\restrict NelJdmVcFK5Wp9hFeftO529qUH57hUIbpcYyGrk5wlm3B8Jb52Ol9m8e6yrwI6p

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ensamblia; Type: SCHEMA; Schema: -; Owner: root
--

CREATE SCHEMA ensamblia;


ALTER SCHEMA ensamblia OWNER TO root;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: root
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO root;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: root
--

COMMENT ON SCHEMA public IS '';


--
-- Name: random_between(integer, integer); Type: FUNCTION; Schema: ensamblia; Owner: root
--

CREATE FUNCTION ensamblia.random_between(low integer, high integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN floor(random() * (high-low + 1) + low);
END;
$$;


ALTER FUNCTION ensamblia.random_between(low integer, high integer) OWNER TO root;

--
-- Name: random_id_from_table(text, text); Type: FUNCTION; Schema: ensamblia; Owner: root
--

CREATE FUNCTION ensamblia.random_id_from_table(table_name text, id_column text DEFAULT 'id'::text) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    result_id INT;
BEGIN
    EXECUTE format('SELECT %I FROM ensamblia.%I ORDER BY random() LIMIT 1', id_column, table_name) INTO result_id;
    RETURN result_id;
END;
$$;


ALTER FUNCTION ensamblia.random_id_from_table(table_name text, id_column text) OWNER TO root;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: anuncio; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.anuncio (
    anuncio_id integer NOT NULL,
    fecha_publicacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    titulo character varying(60) NOT NULL,
    contenido character varying(750) NOT NULL,
    perfil_id integer,
    tipo_anuncio_id integer
);


ALTER TABLE ensamblia.anuncio OWNER TO root;

--
-- Name: anuncio_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.anuncio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.anuncio_id_seq OWNER TO root;

--
-- Name: anuncio_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.anuncio_id_seq OWNED BY ensamblia.anuncio.anuncio_id;


--
-- Name: chat; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.chat (
    chat_id integer NOT NULL
);


ALTER TABLE ensamblia.chat OWNER TO root;

--
-- Name: chat_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.chat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.chat_id_seq OWNER TO root;

--
-- Name: chat_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.chat_id_seq OWNED BY ensamblia.chat.chat_id;


--
-- Name: ciudad; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.ciudad (
    ciudad_id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    comarca_id integer
);


ALTER TABLE ensamblia.ciudad OWNER TO root;

--
-- Name: ciudad_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.ciudad_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.ciudad_id_seq OWNER TO root;

--
-- Name: ciudad_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.ciudad_id_seq OWNED BY ensamblia.ciudad.ciudad_id;


--
-- Name: comarca; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.comarca (
    comarca_id integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE ensamblia.comarca OWNER TO root;

--
-- Name: comarca_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.comarca_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.comarca_id_seq OWNER TO root;

--
-- Name: comarca_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.comarca_id_seq OWNED BY ensamblia.comarca.comarca_id;


--
-- Name: comentario; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.comentario (
    comentario_id integer NOT NULL,
    contenido character varying(500) NOT NULL,
    fecha_publicacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    esta_eliminado boolean DEFAULT false,
    anuncio_id integer,
    perfil_id integer
);


ALTER TABLE ensamblia.comentario OWNER TO root;

--
-- Name: comentario_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.comentario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.comentario_id_seq OWNER TO root;

--
-- Name: comentario_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.comentario_id_seq OWNED BY ensamblia.comentario.comentario_id;


--
-- Name: genero_musical; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.genero_musical (
    genero_musical_id integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE ensamblia.genero_musical OWNER TO root;

--
-- Name: genero_musical_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.genero_musical_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.genero_musical_id_seq OWNER TO root;

--
-- Name: genero_musical_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.genero_musical_id_seq OWNED BY ensamblia.genero_musical.genero_musical_id;


--
-- Name: grupo; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.grupo (
    grupo_id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(500)
);


ALTER TABLE ensamblia.grupo OWNER TO root;

--
-- Name: grupo_genero; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.grupo_genero (
    grupo_id integer NOT NULL,
    genero_id integer NOT NULL
);


ALTER TABLE ensamblia.grupo_genero OWNER TO root;

--
-- Name: grupo_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.grupo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.grupo_id_seq OWNER TO root;

--
-- Name: grupo_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.grupo_id_seq OWNED BY ensamblia.grupo.grupo_id;


--
-- Name: instrumento; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.instrumento (
    instrumento_id integer NOT NULL,
    nombre character varying(30) NOT NULL
);


ALTER TABLE ensamblia.instrumento OWNER TO root;

--
-- Name: instrumento_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.instrumento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.instrumento_id_seq OWNER TO root;

--
-- Name: instrumento_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.instrumento_id_seq OWNED BY ensamblia.instrumento.instrumento_id;


--
-- Name: mensaje; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.mensaje (
    mensaje_id integer NOT NULL,
    contenido character varying(500) NOT NULL,
    chat_id integer,
    perfil_id integer,
    fecha_envio timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    esta_eliminado boolean DEFAULT false
);


ALTER TABLE ensamblia.mensaje OWNER TO root;

--
-- Name: mensaje_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.mensaje_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.mensaje_id_seq OWNER TO root;

--
-- Name: mensaje_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.mensaje_id_seq OWNED BY ensamblia.mensaje.mensaje_id;


--
-- Name: mensaje_leido; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.mensaje_leido (
    mensaje_id integer NOT NULL,
    perfil_id integer NOT NULL,
    leido_en timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE ensamblia.mensaje_leido OWNER TO root;

--
-- Name: multimedia; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.multimedia (
    multimedia_id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    ruta_archivo character varying(500) NOT NULL,
    tamano_bytes bigint,
    tipo_id integer,
    perfil_id integer,
    anuncio_id integer,
    fecha_subida timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE ensamblia.multimedia OWNER TO root;

--
-- Name: multimedia_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.multimedia_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.multimedia_id_seq OWNER TO root;

--
-- Name: multimedia_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.multimedia_id_seq OWNED BY ensamblia.multimedia.multimedia_id;


--
-- Name: perfil; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.perfil (
    perfil_id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    apellido character varying(50) NOT NULL,
    correo character varying(50) NOT NULL,
    numero_telefono integer,
    edad integer,
    sexo character varying(18),
    disponibilidad boolean DEFAULT true,
    descripcion character varying(150) NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    comarca_id integer,
    usuario_id integer,
    CONSTRAINT ck_sexo CHECK (((sexo)::text = ANY ((ARRAY['Hombre'::character varying, 'Mujer'::character varying, 'Otro'::character varying, 'Prefiero no decir'::character varying])::text[])))
);


ALTER TABLE ensamblia.perfil OWNER TO root;

--
-- Name: perfil_chat; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.perfil_chat (
    perfil_id integer NOT NULL,
    chat_id integer NOT NULL,
    fecha_union timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE ensamblia.perfil_chat OWNER TO root;

--
-- Name: perfil_genero_musical; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.perfil_genero_musical (
    perfil_id integer NOT NULL,
    genero_id integer NOT NULL
);


ALTER TABLE ensamblia.perfil_genero_musical OWNER TO root;

--
-- Name: perfil_grupo; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.perfil_grupo (
    grupo_id integer NOT NULL,
    perfil_id integer NOT NULL
);


ALTER TABLE ensamblia.perfil_grupo OWNER TO root;

--
-- Name: perfil_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.perfil_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.perfil_id_seq OWNER TO root;

--
-- Name: perfil_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.perfil_id_seq OWNED BY ensamblia.perfil.perfil_id;


--
-- Name: perfil_instrumento; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.perfil_instrumento (
    perfil_id integer NOT NULL,
    instrumento_id integer NOT NULL
);


ALTER TABLE ensamblia.perfil_instrumento OWNER TO root;

--
-- Name: tipo_anuncio; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.tipo_anuncio (
    tipo_anuncio_id integer NOT NULL,
    tipo character varying(50) NOT NULL
);


ALTER TABLE ensamblia.tipo_anuncio OWNER TO root;

--
-- Name: tipo_anuncio_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.tipo_anuncio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.tipo_anuncio_id_seq OWNER TO root;

--
-- Name: tipo_anuncio_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.tipo_anuncio_id_seq OWNED BY ensamblia.tipo_anuncio.tipo_anuncio_id;


--
-- Name: tipo_archivo; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.tipo_archivo (
    tipo_archivo_id integer NOT NULL,
    nombre character varying(10) NOT NULL,
    extension character varying(10) NOT NULL,
    mime_type character varying(50) NOT NULL
);


ALTER TABLE ensamblia.tipo_archivo OWNER TO root;

--
-- Name: tipo_archivo_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.tipo_archivo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.tipo_archivo_id_seq OWNER TO root;

--
-- Name: tipo_archivo_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.tipo_archivo_id_seq OWNED BY ensamblia.tipo_archivo.tipo_archivo_id;


--
-- Name: usuario; Type: TABLE; Schema: ensamblia; Owner: root
--

CREATE TABLE ensamblia.usuario (
    usuario_id integer NOT NULL,
    usuario character varying(80) NOT NULL,
    password_hash text NOT NULL,
    creado_en timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE ensamblia.usuario OWNER TO root;

--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE; Schema: ensamblia; Owner: root
--

CREATE SEQUENCE ensamblia.usuario_usuario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ensamblia.usuario_usuario_id_seq OWNER TO root;

--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: ensamblia; Owner: root
--

ALTER SEQUENCE ensamblia.usuario_usuario_id_seq OWNED BY ensamblia.usuario.usuario_id;


--
-- Name: anuncio; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.anuncio (
    anuncio_id bigint NOT NULL,
    fecha_publicacion timestamp with time zone NOT NULL,
    titulo character varying(160) NOT NULL,
    contenido character varying(750) NOT NULL,
    perfil_id bigint,
    tipo_anuncio_id bigint
);


ALTER TABLE public.anuncio OWNER TO root;

--
-- Name: anuncio_anuncio_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.anuncio ALTER COLUMN anuncio_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.anuncio_anuncio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO root;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO root;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO root;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.chat (
    chat_id bigint NOT NULL
);


ALTER TABLE public.chat OWNER TO root;

--
-- Name: chat_chat_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.chat ALTER COLUMN chat_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_chat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ciudad; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.ciudad (
    ciudad_id bigint NOT NULL,
    nombre character varying(75) NOT NULL,
    comarca_id bigint
);


ALTER TABLE public.ciudad OWNER TO root;

--
-- Name: ciudad_ciudad_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.ciudad ALTER COLUMN ciudad_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ciudad_ciudad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comarca; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.comarca (
    comarca_id bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.comarca OWNER TO root;

--
-- Name: comarca_comarca_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.comarca ALTER COLUMN comarca_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comarca_comarca_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comentario; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.comentario (
    comentario_id bigint NOT NULL,
    contenido character varying(500) NOT NULL,
    fecha_publicacion timestamp with time zone NOT NULL,
    esta_eliminado boolean NOT NULL,
    anuncio_id bigint,
    perfil_id bigint
);


ALTER TABLE public.comentario OWNER TO root;

--
-- Name: comentario_comentario_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.comentario ALTER COLUMN comentario_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comentario_comentario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO root;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO root;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO root;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO root;

--
-- Name: genero_musical; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.genero_musical (
    genero_musical_id bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.genero_musical OWNER TO root;

--
-- Name: genero_musical_genero_musical_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.genero_musical ALTER COLUMN genero_musical_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.genero_musical_genero_musical_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: grupo; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.grupo (
    grupo_id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(500),
    creador_perfil_id bigint
);


ALTER TABLE public.grupo OWNER TO root;

--
-- Name: grupo_genero; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.grupo_genero (
    grupo_id bigint NOT NULL,
    genero_id bigint NOT NULL
);


ALTER TABLE public.grupo_genero OWNER TO root;

--
-- Name: grupo_grupo_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.grupo ALTER COLUMN grupo_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.grupo_grupo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: instrumento; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.instrumento (
    instrumento_id bigint NOT NULL,
    nombre character varying(25) NOT NULL
);


ALTER TABLE public.instrumento OWNER TO root;

--
-- Name: instrumento_instrumento_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.instrumento ALTER COLUMN instrumento_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.instrumento_instrumento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mensaje; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.mensaje (
    mensaje_id bigint NOT NULL,
    contenido character varying(500) NOT NULL,
    fecha_envio timestamp with time zone NOT NULL,
    esta_eliminado boolean NOT NULL,
    chat_id bigint,
    perfil_id bigint
);


ALTER TABLE public.mensaje OWNER TO root;

--
-- Name: mensaje_leido; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.mensaje_leido (
    mensaje_id bigint NOT NULL,
    leido_en timestamp with time zone NOT NULL,
    perfil_id bigint NOT NULL
);


ALTER TABLE public.mensaje_leido OWNER TO root;

--
-- Name: mensaje_mensaje_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.mensaje ALTER COLUMN mensaje_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mensaje_mensaje_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: multimedia; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.multimedia (
    multimedia_id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    ruta_archivo character varying(500) NOT NULL,
    tamano_bytes bigint,
    fecha_subida timestamp with time zone NOT NULL,
    anuncio_id bigint,
    perfil_id bigint,
    tipo_id bigint
);


ALTER TABLE public.multimedia OWNER TO root;

--
-- Name: multimedia_multimedia_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.multimedia ALTER COLUMN multimedia_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.multimedia_multimedia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: perfil; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.perfil (
    perfil_id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    apellido character varying(50) NOT NULL,
    correo character varying(100) NOT NULL,
    numero_telefono bigint,
    edad integer,
    sexo character varying(18),
    disponibilidad boolean NOT NULL,
    descripcion character varying(300) NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    fecha_baja timestamp with time zone,
    comarca_id bigint,
    usuario_id bigint
);


ALTER TABLE public.perfil OWNER TO root;

--
-- Name: perfil_chat; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.perfil_chat (
    perfil_id bigint NOT NULL,
    fecha_union timestamp with time zone NOT NULL,
    chat_id bigint NOT NULL
);


ALTER TABLE public.perfil_chat OWNER TO root;

--
-- Name: perfil_genero_musical; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.perfil_genero_musical (
    perfil_id bigint NOT NULL,
    genero_id bigint NOT NULL
);


ALTER TABLE public.perfil_genero_musical OWNER TO root;

--
-- Name: perfil_grupo; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.perfil_grupo (
    perfil_id bigint NOT NULL,
    grupo_id bigint NOT NULL
);


ALTER TABLE public.perfil_grupo OWNER TO root;

--
-- Name: perfil_instrumento; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.perfil_instrumento (
    perfil_id bigint NOT NULL,
    instrumento_id bigint NOT NULL
);


ALTER TABLE public.perfil_instrumento OWNER TO root;

--
-- Name: perfil_perfil_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.perfil ALTER COLUMN perfil_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.perfil_perfil_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_anuncio; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.tipo_anuncio (
    tipo_anuncio_id bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.tipo_anuncio OWNER TO root;

--
-- Name: tipo_anuncio_tipo_anuncio_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.tipo_anuncio ALTER COLUMN tipo_anuncio_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tipo_anuncio_tipo_anuncio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_archivo; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.tipo_archivo (
    tipo_archivo_id bigint NOT NULL,
    nombre character varying(10) NOT NULL,
    extension character varying(10) NOT NULL,
    mime_type character varying(100) NOT NULL
);


ALTER TABLE public.tipo_archivo OWNER TO root;

--
-- Name: tipo_archivo_tipo_archivo_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.tipo_archivo ALTER COLUMN tipo_archivo_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tipo_archivo_tipo_archivo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.usuario (
    usuario_id bigint NOT NULL,
    nickname character varying(50) NOT NULL,
    password_hash character varying(128) NOT NULL,
    creado_en timestamp with time zone NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL,
    is_active boolean NOT NULL,
    last_login timestamp with time zone
);


ALTER TABLE public.usuario OWNER TO root;

--
-- Name: usuario_groups; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.usuario_groups (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.usuario_groups OWNER TO root;

--
-- Name: usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_user_permissions; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuario_user_permissions OWNER TO root;

--
-- Name: usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.usuario ALTER COLUMN usuario_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: anuncio anuncio_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.anuncio ALTER COLUMN anuncio_id SET DEFAULT nextval('ensamblia.anuncio_id_seq'::regclass);


--
-- Name: chat chat_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.chat ALTER COLUMN chat_id SET DEFAULT nextval('ensamblia.chat_id_seq'::regclass);


--
-- Name: ciudad ciudad_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.ciudad ALTER COLUMN ciudad_id SET DEFAULT nextval('ensamblia.ciudad_id_seq'::regclass);


--
-- Name: comarca comarca_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.comarca ALTER COLUMN comarca_id SET DEFAULT nextval('ensamblia.comarca_id_seq'::regclass);


--
-- Name: comentario comentario_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.comentario ALTER COLUMN comentario_id SET DEFAULT nextval('ensamblia.comentario_id_seq'::regclass);


--
-- Name: genero_musical genero_musical_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.genero_musical ALTER COLUMN genero_musical_id SET DEFAULT nextval('ensamblia.genero_musical_id_seq'::regclass);


--
-- Name: grupo grupo_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.grupo ALTER COLUMN grupo_id SET DEFAULT nextval('ensamblia.grupo_id_seq'::regclass);


--
-- Name: instrumento instrumento_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.instrumento ALTER COLUMN instrumento_id SET DEFAULT nextval('ensamblia.instrumento_id_seq'::regclass);


--
-- Name: mensaje mensaje_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.mensaje ALTER COLUMN mensaje_id SET DEFAULT nextval('ensamblia.mensaje_id_seq'::regclass);


--
-- Name: multimedia multimedia_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.multimedia ALTER COLUMN multimedia_id SET DEFAULT nextval('ensamblia.multimedia_id_seq'::regclass);


--
-- Name: perfil perfil_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil ALTER COLUMN perfil_id SET DEFAULT nextval('ensamblia.perfil_id_seq'::regclass);


--
-- Name: tipo_anuncio tipo_anuncio_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.tipo_anuncio ALTER COLUMN tipo_anuncio_id SET DEFAULT nextval('ensamblia.tipo_anuncio_id_seq'::regclass);


--
-- Name: tipo_archivo tipo_archivo_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.tipo_archivo ALTER COLUMN tipo_archivo_id SET DEFAULT nextval('ensamblia.tipo_archivo_id_seq'::regclass);


--
-- Name: usuario usuario_id; Type: DEFAULT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.usuario ALTER COLUMN usuario_id SET DEFAULT nextval('ensamblia.usuario_usuario_id_seq'::regclass);


--
-- Data for Name: anuncio; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: chat; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.chat (chat_id) FROM stdin;
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
\.


--
-- Data for Name: ciudad; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.ciudad (ciudad_id, nombre, comarca_id) FROM stdin;
1	Barcelona	1
2	Tarragona	2
3	Lleida	3
4	Girona	4
56	Hospitalet	4
\.


--
-- Data for Name: comarca; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.comarca (comarca_id, nombre) FROM stdin;
1	Barcelona
2	Tarragona
3	Lleida
4	Girona
5	Madrid
194	Alicante
195	Valencia
196	Sevilla
197	M├ílaga
198	Bilbao
199	Zaragoza
200	Murcia
201	Palma
202	Las Palmas
203	Santa Cruz de Tenerife
204	Badajoz
205	C├íceres
206	C├│rdoba
207	Granada
208	Huelva
209	Ja├®n
210	C├ídiz
211	Almer├¡a
212	Oviedo
213	Santander
214	Pamplona
215	Logro├▒o
216	Salamanca
217	Valladolid
218	Toledo
219	Albacete
220	Cuenca
221	Guadalajara
222	Ciudad Real
223	Burgos
\.


--
-- Data for Name: comentario; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: genero_musical; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.genero_musical (genero_musical_id, nombre) FROM stdin;
1	Rock
2	Pop
3	Jazz
4	Metal
5	Flamenco
194	Blues
195	Funk
196	Reggae
197	Ska
198	Punk
199	Indie
200	Electr├│nica
201	House
202	Techno
203	Hip Hop
204	Rap
205	R&B
206	Soul
207	Gospel
208	Country
209	Folk
210	Latina
211	Bachata
212	Salsa
213	Merengue
214	Cumbia
215	Reguet├│n
216	K-pop
217	J-pop
218	Cl├ísica
219	├ôpera
220	Musical
221	Tango
222	Fado
223	Bossa Nova
\.


--
-- Data for Name: grupo; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: grupo_genero; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.grupo_genero (grupo_id, genero_id) FROM stdin;
6	211
6	213
7	197
8	201
9	222
9	4
10	205
11	194
12	218
12	197
13	204
14	210
14	216
15	198
16	196
16	201
17	201
17	203
18	196
19	207
20	202
20	210
21	208
21	1
22	213
22	218
23	197
24	208
25	5
26	202
27	217
28	208
28	205
29	211
30	223
30	195
\.


--
-- Data for Name: instrumento; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: mensaje; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: mensaje_leido; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.mensaje_leido (mensaje_id, perfil_id, leido_en) FROM stdin;
\.


--
-- Data for Name: multimedia; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.multimedia (multimedia_id, nombre, ruta_archivo, tamano_bytes, tipo_id, perfil_id, anuncio_id, fecha_subida) FROM stdin;
\.


--
-- Data for Name: perfil; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: perfil_chat; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: perfil_genero_musical; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: perfil_grupo; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: perfil_instrumento; Type: TABLE DATA; Schema: ensamblia; Owner: root
--



--
-- Data for Name: tipo_anuncio; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.tipo_anuncio (tipo_anuncio_id, tipo) FROM stdin;
1	Busco m├║sico
2	Busco banda
3	Concierto
4	Vendo instrumento
5	Clases m├║sica
84	Alquiler estudio
85	Masterclass
86	Jam session
87	Intercambio musical
88	Grabaci├│n
89	Producci├│n musical
90	Alquiler equipo
91	Evento ben├®fico
\.


--
-- Data for Name: tipo_archivo; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.tipo_archivo (tipo_archivo_id, nombre, extension, mime_type) FROM stdin;
1	jpg	.jpg	image/jpeg
2	png	.png	image/png
3	mp4	.mp4	video/mp4
4	mp3	.mp3	audio/mpeg
5	pdf	.pdf	application/pdf
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: ensamblia; Owner: root
--

COPY ensamblia.usuario (usuario_id, usuario, password_hash, creado_en) FROM stdin;
1	Luis Huertas	$2b$10$DglgfGcM/.dt/SrSMbD7yOqK/nACHbFX22qbLoaApXnc/BsDXZJ9.	2026-06-26 11:04:59.734087
\.


--
-- Data for Name: anuncio; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.anuncio (anuncio_id, fecha_publicacion, titulo, contenido, perfil_id, tipo_anuncio_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: chat; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.chat (chat_id) FROM stdin;
1
\.


--
-- Data for Name: ciudad; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.ciudad (ciudad_id, nombre, comarca_id) FROM stdin;
\.


--
-- Data for Name: comarca; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.comarca (comarca_id, nombre) FROM stdin;
\.


--
-- Data for Name: comentario; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.comentario (comentario_id, contenido, fecha_publicacion, esta_eliminado, anuncio_id, perfil_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: genero_musical; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.genero_musical (genero_musical_id, nombre) FROM stdin;
\.


--
-- Data for Name: grupo; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.grupo (grupo_id, nombre, descripcion, creador_perfil_id) FROM stdin;
\.


--
-- Data for Name: grupo_genero; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.grupo_genero (grupo_id, genero_id) FROM stdin;
\.


--
-- Data for Name: instrumento; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.instrumento (instrumento_id, nombre) FROM stdin;
\.


--
-- Data for Name: mensaje; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: mensaje_leido; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: multimedia; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.multimedia (multimedia_id, nombre, ruta_archivo, tamano_bytes, fecha_subida, anuncio_id, perfil_id, tipo_id) FROM stdin;
\.


--
-- Data for Name: perfil; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.perfil (perfil_id, nombre, apellido, correo, numero_telefono, edad, sexo, disponibilidad, descripcion, fecha_creacion, fecha_baja, comarca_id, usuario_id) FROM stdin;
3	Marta	Ruiz	marta@test.com	\N	\N	\N	t	Baterista	2026-09-18 17:54:47.936585+00	\N	\N	1
1	Ana	Garc├¡a	ana@test.com	\N	\N	\N	t	Cantante y compositora	2026-09-18 17:54:17.533129+00	\N	\N	3
2	Luis	Flotu	luis@test.com	\N	\N	\N	t	Guitarrista	2026-09-18 17:54:32.777783+00	\N	\N	2
\.


--
-- Data for Name: perfil_chat; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.perfil_chat (perfil_id, fecha_union, chat_id) FROM stdin;
1	2026-09-18 17:55:02.512342+00	1
2	2026-09-18 17:55:02.516342+00	1
\.


--
-- Data for Name: perfil_genero_musical; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.perfil_genero_musical (perfil_id, genero_id) FROM stdin;
\.


--
-- Data for Name: perfil_grupo; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.perfil_grupo (perfil_id, grupo_id) FROM stdin;
\.


--
-- Data for Name: perfil_instrumento; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.perfil_instrumento (perfil_id, instrumento_id) FROM stdin;
\.


--
-- Data for Name: tipo_anuncio; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.tipo_anuncio (tipo_anuncio_id, nombre) FROM stdin;
\.


--
-- Data for Name: tipo_archivo; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.tipo_archivo (tipo_archivo_id, nombre, extension, mime_type) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.usuario (usuario_id, nickname, password_hash, creado_en, is_staff, is_superuser, is_active, last_login) FROM stdin;
1	marta	pbkdf2_sha256$1000000$CeoiYEuZqnykw2CMvFpPus$zc/sDzEpvsZ3kaxf4AdTnk+1qk4Tf8ecjBVqgsCneco=	2026-09-18 17:53:12.037619+00	f	f	t	\N
2	luis	pbkdf2_sha256$1000000$lDGrBkw4AMocpv7BRKGPlw$MhMQpvb+A5TUr0HQ9ZqQMELLwo3yTyGxPgeJ6nsPcuo=	2026-09-18 17:53:15.019748+00	f	f	t	\N
3	ana	pbkdf2_sha256$1000000$AbTEGBOJIrcCjpaVkKMAGD$GQlwaQs9BidZ05NJU9X6uWqVqJ1d/J0zuzSRU+paIfw=	2026-09-18 17:53:31.462222+00	f	f	t	\N
\.


--
-- Data for Name: usuario_groups; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.usuario_groups (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Name: anuncio_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.anuncio_id_seq', 332, true);


--
-- Name: chat_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.chat_id_seq', 105, true);


--
-- Name: ciudad_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.ciudad_id_seq', 56, true);


--
-- Name: comarca_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.comarca_id_seq', 224, true);


--
-- Name: comentario_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.comentario_id_seq', 817, true);


--
-- Name: genero_musical_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.genero_musical_id_seq', 225, true);


--
-- Name: grupo_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.grupo_id_seq', 30, true);


--
-- Name: instrumento_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.instrumento_id_seq', 322, true);


--
-- Name: mensaje_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.mensaje_id_seq', 517, true);


--
-- Name: multimedia_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.multimedia_id_seq', 10, true);


--
-- Name: perfil_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.perfil_id_seq', 542, true);


--
-- Name: tipo_anuncio_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.tipo_anuncio_id_seq', 91, true);


--
-- Name: tipo_archivo_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.tipo_archivo_id_seq', 5, true);


--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE SET; Schema: ensamblia; Owner: root
--

SELECT pg_catalog.setval('ensamblia.usuario_usuario_id_seq', 1, true);


--
-- Name: anuncio_anuncio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.anuncio_anuncio_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: chat_chat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.chat_chat_id_seq', 1, true);


--
-- Name: ciudad_ciudad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.ciudad_ciudad_id_seq', 1, false);


--
-- Name: comarca_comarca_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.comarca_comarca_id_seq', 1, false);


--
-- Name: comentario_comentario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.comentario_comentario_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 25, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 28, true);


--
-- Name: genero_musical_genero_musical_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.genero_musical_genero_musical_id_seq', 1, false);


--
-- Name: grupo_grupo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.grupo_grupo_id_seq', 1, false);


--
-- Name: instrumento_instrumento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.instrumento_instrumento_id_seq', 1, false);


--
-- Name: mensaje_mensaje_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.mensaje_mensaje_id_seq', 283, true);


--
-- Name: multimedia_multimedia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.multimedia_multimedia_id_seq', 1, false);


--
-- Name: perfil_perfil_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.perfil_perfil_id_seq', 3, true);


--
-- Name: tipo_anuncio_tipo_anuncio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.tipo_anuncio_tipo_anuncio_id_seq', 1, false);


--
-- Name: tipo_archivo_tipo_archivo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.tipo_archivo_tipo_archivo_id_seq', 1, false);


--
-- Name: usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.usuario_groups_id_seq', 1, false);


--
-- Name: usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.usuario_user_permissions_id_seq', 1, false);


--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.usuario_usuario_id_seq', 3, true);


--
-- Name: multimedia multimedia_pkey; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.multimedia
    ADD CONSTRAINT multimedia_pkey PRIMARY KEY (multimedia_id);


--
-- Name: anuncio pk_anuncio; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.anuncio
    ADD CONSTRAINT pk_anuncio PRIMARY KEY (anuncio_id);


--
-- Name: chat pk_chat; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.chat
    ADD CONSTRAINT pk_chat PRIMARY KEY (chat_id);


--
-- Name: ciudad pk_ciudad; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.ciudad
    ADD CONSTRAINT pk_ciudad PRIMARY KEY (ciudad_id);


--
-- Name: comarca pk_comarcas; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.comarca
    ADD CONSTRAINT pk_comarcas PRIMARY KEY (comarca_id);


--
-- Name: comentario pk_comentario; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.comentario
    ADD CONSTRAINT pk_comentario PRIMARY KEY (comentario_id);


--
-- Name: genero_musical pk_genero_musical; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.genero_musical
    ADD CONSTRAINT pk_genero_musical PRIMARY KEY (genero_musical_id);


--
-- Name: grupo pk_grupo; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.grupo
    ADD CONSTRAINT pk_grupo PRIMARY KEY (grupo_id);


--
-- Name: grupo_genero pk_grupo_genero; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.grupo_genero
    ADD CONSTRAINT pk_grupo_genero PRIMARY KEY (grupo_id, genero_id);


--
-- Name: instrumento pk_instrumento; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.instrumento
    ADD CONSTRAINT pk_instrumento PRIMARY KEY (instrumento_id);


--
-- Name: mensaje pk_mensaje; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.mensaje
    ADD CONSTRAINT pk_mensaje PRIMARY KEY (mensaje_id);


--
-- Name: mensaje_leido pk_mensaje_leido; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.mensaje_leido
    ADD CONSTRAINT pk_mensaje_leido PRIMARY KEY (mensaje_id, perfil_id);


--
-- Name: perfil pk_perfil; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil
    ADD CONSTRAINT pk_perfil PRIMARY KEY (perfil_id);


--
-- Name: perfil_chat pk_perfil_chat; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_chat
    ADD CONSTRAINT pk_perfil_chat PRIMARY KEY (perfil_id, chat_id);


--
-- Name: perfil_genero_musical pk_perfil_genero_musical; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_genero_musical
    ADD CONSTRAINT pk_perfil_genero_musical PRIMARY KEY (perfil_id, genero_id);


--
-- Name: perfil_grupo pk_perfil_grupo; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_grupo
    ADD CONSTRAINT pk_perfil_grupo PRIMARY KEY (perfil_id, grupo_id);


--
-- Name: perfil_instrumento pk_perfil_instrumento; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_instrumento
    ADD CONSTRAINT pk_perfil_instrumento PRIMARY KEY (perfil_id, instrumento_id);


--
-- Name: tipo_anuncio pk_tipo_anuncio; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.tipo_anuncio
    ADD CONSTRAINT pk_tipo_anuncio PRIMARY KEY (tipo_anuncio_id);


--
-- Name: tipo_archivo pk_tipo_archivo; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.tipo_archivo
    ADD CONSTRAINT pk_tipo_archivo PRIMARY KEY (tipo_archivo_id);


--
-- Name: perfil uk_perfil_correo; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil
    ADD CONSTRAINT uk_perfil_correo UNIQUE (correo);


--
-- Name: perfil uk_perfil_numero; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil
    ADD CONSTRAINT uk_perfil_numero UNIQUE (numero_telefono);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (usuario_id);


--
-- Name: usuario usuario_usuario_key; Type: CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.usuario
    ADD CONSTRAINT usuario_usuario_key UNIQUE (usuario);


--
-- Name: anuncio anuncio_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.anuncio
    ADD CONSTRAINT anuncio_pkey PRIMARY KEY (anuncio_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: chat chat_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat
    ADD CONSTRAINT chat_pkey PRIMARY KEY (chat_id);


--
-- Name: ciudad ciudad_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.ciudad
    ADD CONSTRAINT ciudad_pkey PRIMARY KEY (ciudad_id);


--
-- Name: comarca comarca_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.comarca
    ADD CONSTRAINT comarca_pkey PRIMARY KEY (comarca_id);


--
-- Name: comentario comentario_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_pkey PRIMARY KEY (comentario_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: genero_musical genero_musical_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.genero_musical
    ADD CONSTRAINT genero_musical_pkey PRIMARY KEY (genero_musical_id);


--
-- Name: grupo_genero grupo_genero_grupo_id_genero_id_99eac590_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grupo_genero
    ADD CONSTRAINT grupo_genero_grupo_id_genero_id_99eac590_uniq UNIQUE (grupo_id, genero_id);


--
-- Name: grupo_genero grupo_genero_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grupo_genero
    ADD CONSTRAINT grupo_genero_pkey PRIMARY KEY (grupo_id);


--
-- Name: grupo grupo_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grupo
    ADD CONSTRAINT grupo_pkey PRIMARY KEY (grupo_id);


--
-- Name: instrumento instrumento_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.instrumento
    ADD CONSTRAINT instrumento_pkey PRIMARY KEY (instrumento_id);


--
-- Name: mensaje_leido mensaje_leido_mensaje_id_perfil_id_b5185b45_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensaje_leido
    ADD CONSTRAINT mensaje_leido_mensaje_id_perfil_id_b5185b45_uniq UNIQUE (mensaje_id, perfil_id);


--
-- Name: mensaje_leido mensaje_leido_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensaje_leido
    ADD CONSTRAINT mensaje_leido_pkey PRIMARY KEY (mensaje_id);


--
-- Name: mensaje mensaje_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensaje
    ADD CONSTRAINT mensaje_pkey PRIMARY KEY (mensaje_id);


--
-- Name: multimedia multimedia_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.multimedia
    ADD CONSTRAINT multimedia_pkey PRIMARY KEY (multimedia_id);


--
-- Name: perfil_chat perfil_chat_perfil_id_chat_id_0ea1c8af_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_chat
    ADD CONSTRAINT perfil_chat_perfil_id_chat_id_0ea1c8af_uniq UNIQUE (perfil_id, chat_id);


--
-- Name: perfil_chat perfil_chat_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_chat
    ADD CONSTRAINT perfil_chat_pkey PRIMARY KEY (perfil_id);


--
-- Name: perfil perfil_correo_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_correo_key UNIQUE (correo);


--
-- Name: perfil_genero_musical perfil_genero_musical_perfil_id_genero_id_415b6c50_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_genero_musical
    ADD CONSTRAINT perfil_genero_musical_perfil_id_genero_id_415b6c50_uniq UNIQUE (perfil_id, genero_id);


--
-- Name: perfil_genero_musical perfil_genero_musical_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_genero_musical
    ADD CONSTRAINT perfil_genero_musical_pkey PRIMARY KEY (perfil_id);


--
-- Name: perfil_grupo perfil_grupo_perfil_id_grupo_id_3fcbe4af_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_grupo
    ADD CONSTRAINT perfil_grupo_perfil_id_grupo_id_3fcbe4af_uniq UNIQUE (perfil_id, grupo_id);


--
-- Name: perfil_grupo perfil_grupo_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_grupo
    ADD CONSTRAINT perfil_grupo_pkey PRIMARY KEY (perfil_id);


--
-- Name: perfil_instrumento perfil_instrumento_perfil_id_instrumento_id_2f034d32_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_instrumento
    ADD CONSTRAINT perfil_instrumento_perfil_id_instrumento_id_2f034d32_uniq UNIQUE (perfil_id, instrumento_id);


--
-- Name: perfil_instrumento perfil_instrumento_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_instrumento
    ADD CONSTRAINT perfil_instrumento_pkey PRIMARY KEY (perfil_id);


--
-- Name: perfil perfil_numero_telefono_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_numero_telefono_key UNIQUE (numero_telefono);


--
-- Name: perfil perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_pkey PRIMARY KEY (perfil_id);


--
-- Name: tipo_anuncio tipo_anuncio_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.tipo_anuncio
    ADD CONSTRAINT tipo_anuncio_pkey PRIMARY KEY (tipo_anuncio_id);


--
-- Name: tipo_archivo tipo_archivo_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.tipo_archivo
    ADD CONSTRAINT tipo_archivo_pkey PRIMARY KEY (tipo_archivo_id);


--
-- Name: usuario_groups usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_groups
    ADD CONSTRAINT usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: usuario_groups usuario_groups_usuario_id_group_id_2e3cd638_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_groups
    ADD CONSTRAINT usuario_groups_usuario_id_group_id_2e3cd638_uniq UNIQUE (usuario_id, group_id);


--
-- Name: usuario usuario_nickname_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_nickname_key UNIQUE (nickname);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (usuario_id);


--
-- Name: usuario_user_permissions usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_user_permissions
    ADD CONSTRAINT usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: usuario_user_permissions usuario_user_permissions_usuario_id_permission_id_3db58b8c_uniq; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_user_permissions
    ADD CONSTRAINT usuario_user_permissions_usuario_id_permission_id_3db58b8c_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: idx_anuncio_fecha_publicacion; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_anuncio_fecha_publicacion ON ensamblia.anuncio USING btree (fecha_publicacion DESC);


--
-- Name: idx_anuncio_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_anuncio_perfil_id ON ensamblia.anuncio USING btree (perfil_id);


--
-- Name: idx_anuncio_tipo_anuncio_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_anuncio_tipo_anuncio_id ON ensamblia.anuncio USING btree (tipo_anuncio_id);


--
-- Name: idx_comentario_anuncio; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_comentario_anuncio ON ensamblia.comentario USING btree (anuncio_id, fecha_publicacion DESC);


--
-- Name: idx_comentario_anuncio_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_comentario_anuncio_id ON ensamblia.comentario USING btree (anuncio_id);


--
-- Name: idx_comentario_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_comentario_perfil_id ON ensamblia.comentario USING btree (perfil_id);


--
-- Name: idx_grupo_genero_grupo_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_grupo_genero_grupo_id ON ensamblia.grupo_genero USING btree (grupo_id);


--
-- Name: idx_mensaje_chat; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_mensaje_chat ON ensamblia.mensaje USING btree (chat_id, fecha_envio);


--
-- Name: idx_mensaje_chat_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_mensaje_chat_id ON ensamblia.mensaje USING btree (chat_id);


--
-- Name: idx_mensaje_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_mensaje_perfil_id ON ensamblia.mensaje USING btree (perfil_id);


--
-- Name: idx_multimedia_anuncio_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_multimedia_anuncio_id ON ensamblia.multimedia USING btree (anuncio_id);


--
-- Name: idx_multimedia_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_multimedia_perfil_id ON ensamblia.multimedia USING btree (perfil_id);


--
-- Name: idx_perfil_chat_chat_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_chat_chat_id ON ensamblia.perfil_chat USING btree (chat_id);


--
-- Name: idx_perfil_chat_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_chat_perfil_id ON ensamblia.perfil_chat USING btree (perfil_id);


--
-- Name: idx_perfil_comarca; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_comarca ON ensamblia.perfil USING btree (comarca_id);


--
-- Name: idx_perfil_disponibilidad; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_disponibilidad ON ensamblia.perfil USING btree (disponibilidad) WHERE (disponibilidad = true);


--
-- Name: idx_perfil_genero; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_genero ON ensamblia.perfil_genero_musical USING btree (genero_id, perfil_id);


--
-- Name: idx_perfil_genero_musical_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_genero_musical_perfil_id ON ensamblia.perfil_genero_musical USING btree (perfil_id);


--
-- Name: idx_perfil_grupo_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_grupo_perfil_id ON ensamblia.perfil_grupo USING btree (perfil_id);


--
-- Name: idx_perfil_instrumento_perfil_id; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_instrumento_perfil_id ON ensamblia.perfil_instrumento USING btree (perfil_id);


--
-- Name: idx_perfil_nombre_apellido; Type: INDEX; Schema: ensamblia; Owner: root
--

CREATE INDEX idx_perfil_nombre_apellido ON ensamblia.perfil USING btree (nombre, apellido);


--
-- Name: anuncio_perfil_id_ac4e61ac; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX anuncio_perfil_id_ac4e61ac ON public.anuncio USING btree (perfil_id);


--
-- Name: anuncio_tipo_anuncio_id_764f9fe6; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX anuncio_tipo_anuncio_id_764f9fe6 ON public.anuncio USING btree (tipo_anuncio_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: ciudad_comarca_id_bfc171b3; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX ciudad_comarca_id_bfc171b3 ON public.ciudad USING btree (comarca_id);


--
-- Name: comentario_anuncio_id_790bc4da; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX comentario_anuncio_id_790bc4da ON public.comentario USING btree (anuncio_id);


--
-- Name: comentario_perfil_id_1dd0d087; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX comentario_perfil_id_1dd0d087 ON public.comentario USING btree (perfil_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: grupo_creador_perfil_id_49273072; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX grupo_creador_perfil_id_49273072 ON public.grupo USING btree (creador_perfil_id);


--
-- Name: grupo_genero_genero_id_792a9f20; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX grupo_genero_genero_id_792a9f20 ON public.grupo_genero USING btree (genero_id);


--
-- Name: mensaje_chat_id_4ada6a98; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX mensaje_chat_id_4ada6a98 ON public.mensaje USING btree (chat_id);


--
-- Name: mensaje_leido_perfil_id_2f934630; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX mensaje_leido_perfil_id_2f934630 ON public.mensaje_leido USING btree (perfil_id);


--
-- Name: mensaje_perfil_id_181bba52; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX mensaje_perfil_id_181bba52 ON public.mensaje USING btree (perfil_id);


--
-- Name: multimedia_anuncio_id_dc32a9ef; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX multimedia_anuncio_id_dc32a9ef ON public.multimedia USING btree (anuncio_id);


--
-- Name: multimedia_perfil_id_2c218645; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX multimedia_perfil_id_2c218645 ON public.multimedia USING btree (perfil_id);


--
-- Name: multimedia_tipo_id_05167277; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX multimedia_tipo_id_05167277 ON public.multimedia USING btree (tipo_id);


--
-- Name: perfil_chat_chat_id_31050812; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX perfil_chat_chat_id_31050812 ON public.perfil_chat USING btree (chat_id);


--
-- Name: perfil_comarca_id_1c149b10; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX perfil_comarca_id_1c149b10 ON public.perfil USING btree (comarca_id);


--
-- Name: perfil_correo_9ef4c27d_like; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX perfil_correo_9ef4c27d_like ON public.perfil USING btree (correo varchar_pattern_ops);


--
-- Name: perfil_genero_musical_genero_id_7d3c04ea; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX perfil_genero_musical_genero_id_7d3c04ea ON public.perfil_genero_musical USING btree (genero_id);


--
-- Name: perfil_grupo_grupo_id_0c424b7d; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX perfil_grupo_grupo_id_0c424b7d ON public.perfil_grupo USING btree (grupo_id);


--
-- Name: perfil_instrumento_instrumento_id_1d3c911b; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX perfil_instrumento_instrumento_id_1d3c911b ON public.perfil_instrumento USING btree (instrumento_id);


--
-- Name: perfil_usuario_id_9e6be319; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX perfil_usuario_id_9e6be319 ON public.perfil USING btree (usuario_id);


--
-- Name: usuario_groups_group_id_c67c8651; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX usuario_groups_group_id_c67c8651 ON public.usuario_groups USING btree (group_id);


--
-- Name: usuario_groups_usuario_id_161fc80c; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX usuario_groups_usuario_id_161fc80c ON public.usuario_groups USING btree (usuario_id);


--
-- Name: usuario_nickname_3ade91c5_like; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX usuario_nickname_3ade91c5_like ON public.usuario USING btree (nickname varchar_pattern_ops);


--
-- Name: usuario_user_permissions_permission_id_a8893ce7; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX usuario_user_permissions_permission_id_a8893ce7 ON public.usuario_user_permissions USING btree (permission_id);


--
-- Name: usuario_user_permissions_usuario_id_693d9c50; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX usuario_user_permissions_usuario_id_693d9c50 ON public.usuario_user_permissions USING btree (usuario_id);


--
-- Name: anuncio fk_anuncio_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.anuncio
    ADD CONSTRAINT fk_anuncio_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id);


--
-- Name: anuncio fk_anuncio_tipo_anuncio_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.anuncio
    ADD CONSTRAINT fk_anuncio_tipo_anuncio_id FOREIGN KEY (tipo_anuncio_id) REFERENCES ensamblia.tipo_anuncio(tipo_anuncio_id);


--
-- Name: ciudad fk_ciudad_comarca_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.ciudad
    ADD CONSTRAINT fk_ciudad_comarca_id FOREIGN KEY (comarca_id) REFERENCES ensamblia.comarca(comarca_id);


--
-- Name: comentario fk_comentario_anuncio_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.comentario
    ADD CONSTRAINT fk_comentario_anuncio_id FOREIGN KEY (anuncio_id) REFERENCES ensamblia.anuncio(anuncio_id) ON DELETE CASCADE;


--
-- Name: comentario fk_comentario_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.comentario
    ADD CONSTRAINT fk_comentario_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id) ON DELETE SET NULL;


--
-- Name: grupo_genero fk_grupo_genero_genero_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.grupo_genero
    ADD CONSTRAINT fk_grupo_genero_genero_id FOREIGN KEY (genero_id) REFERENCES ensamblia.genero_musical(genero_musical_id);


--
-- Name: grupo_genero fk_grupo_genero_grupo_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.grupo_genero
    ADD CONSTRAINT fk_grupo_genero_grupo_id FOREIGN KEY (grupo_id) REFERENCES ensamblia.grupo(grupo_id);


--
-- Name: mensaje fk_mensaje_chat_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.mensaje
    ADD CONSTRAINT fk_mensaje_chat_id FOREIGN KEY (chat_id) REFERENCES ensamblia.chat(chat_id) ON DELETE CASCADE;


--
-- Name: mensaje fk_mensaje_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.mensaje
    ADD CONSTRAINT fk_mensaje_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id) ON DELETE CASCADE;


--
-- Name: multimedia fk_multimedia_anuncio_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.multimedia
    ADD CONSTRAINT fk_multimedia_anuncio_id FOREIGN KEY (anuncio_id) REFERENCES ensamblia.anuncio(anuncio_id) ON DELETE CASCADE;


--
-- Name: multimedia fk_multimedia_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.multimedia
    ADD CONSTRAINT fk_multimedia_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id) ON DELETE CASCADE;


--
-- Name: multimedia fk_multimedia_tipo_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.multimedia
    ADD CONSTRAINT fk_multimedia_tipo_id FOREIGN KEY (tipo_id) REFERENCES ensamblia.tipo_archivo(tipo_archivo_id);


--
-- Name: perfil_chat fk_perfil_chat_chat_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_chat
    ADD CONSTRAINT fk_perfil_chat_chat_id FOREIGN KEY (chat_id) REFERENCES ensamblia.chat(chat_id) ON DELETE CASCADE;


--
-- Name: perfil_chat fk_perfil_chat_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_chat
    ADD CONSTRAINT fk_perfil_chat_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id) ON DELETE CASCADE;


--
-- Name: perfil fk_perfil_comarca_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil
    ADD CONSTRAINT fk_perfil_comarca_id FOREIGN KEY (comarca_id) REFERENCES ensamblia.comarca(comarca_id) ON DELETE SET NULL;


--
-- Name: perfil_genero_musical fk_perfil_genero_musical_genero_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_genero_musical
    ADD CONSTRAINT fk_perfil_genero_musical_genero_id FOREIGN KEY (genero_id) REFERENCES ensamblia.genero_musical(genero_musical_id);


--
-- Name: perfil_genero_musical fk_perfil_genero_musical_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_genero_musical
    ADD CONSTRAINT fk_perfil_genero_musical_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id);


--
-- Name: perfil_grupo fk_perfil_grupo_grupo_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_grupo
    ADD CONSTRAINT fk_perfil_grupo_grupo_id FOREIGN KEY (grupo_id) REFERENCES ensamblia.grupo(grupo_id);


--
-- Name: perfil_grupo fk_perfil_grupo_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_grupo
    ADD CONSTRAINT fk_perfil_grupo_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id);


--
-- Name: perfil_instrumento fk_perfil_instrumento_instrumento_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_instrumento
    ADD CONSTRAINT fk_perfil_instrumento_instrumento_id FOREIGN KEY (instrumento_id) REFERENCES ensamblia.instrumento(instrumento_id);


--
-- Name: perfil_instrumento fk_perfil_instrumento_perfil_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil_instrumento
    ADD CONSTRAINT fk_perfil_instrumento_perfil_id FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id);


--
-- Name: perfil fk_perfil_usuario_id; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.perfil
    ADD CONSTRAINT fk_perfil_usuario_id FOREIGN KEY (usuario_id) REFERENCES ensamblia.usuario(usuario_id);


--
-- Name: mensaje_leido mensaje_leido_mensaje_id_fkey; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.mensaje_leido
    ADD CONSTRAINT mensaje_leido_mensaje_id_fkey FOREIGN KEY (mensaje_id) REFERENCES ensamblia.mensaje(mensaje_id) ON DELETE CASCADE;


--
-- Name: mensaje_leido mensaje_leido_perfil_id_fkey; Type: FK CONSTRAINT; Schema: ensamblia; Owner: root
--

ALTER TABLE ONLY ensamblia.mensaje_leido
    ADD CONSTRAINT mensaje_leido_perfil_id_fkey FOREIGN KEY (perfil_id) REFERENCES ensamblia.perfil(perfil_id) ON DELETE CASCADE;


--
-- Name: anuncio anuncio_perfil_id_ac4e61ac_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.anuncio
    ADD CONSTRAINT anuncio_perfil_id_ac4e61ac_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: anuncio anuncio_tipo_anuncio_id_764f9fe6_fk_tipo_anun; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.anuncio
    ADD CONSTRAINT anuncio_tipo_anuncio_id_764f9fe6_fk_tipo_anun FOREIGN KEY (tipo_anuncio_id) REFERENCES public.tipo_anuncio(tipo_anuncio_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ciudad ciudad_comarca_id_bfc171b3_fk_comarca_comarca_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.ciudad
    ADD CONSTRAINT ciudad_comarca_id_bfc171b3_fk_comarca_comarca_id FOREIGN KEY (comarca_id) REFERENCES public.comarca(comarca_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comentario comentario_anuncio_id_790bc4da_fk_anuncio_anuncio_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_anuncio_id_790bc4da_fk_anuncio_anuncio_id FOREIGN KEY (anuncio_id) REFERENCES public.anuncio(anuncio_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: comentario comentario_perfil_id_1dd0d087_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_perfil_id_1dd0d087_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_usuario_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_usuario_usuario_id FOREIGN KEY (user_id) REFERENCES public.usuario(usuario_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: grupo grupo_creador_perfil_id_49273072_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grupo
    ADD CONSTRAINT grupo_creador_perfil_id_49273072_fk_perfil_perfil_id FOREIGN KEY (creador_perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: grupo_genero grupo_genero_genero_id_792a9f20_fk_genero_mu; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grupo_genero
    ADD CONSTRAINT grupo_genero_genero_id_792a9f20_fk_genero_mu FOREIGN KEY (genero_id) REFERENCES public.genero_musical(genero_musical_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: grupo_genero grupo_genero_grupo_id_3f7567e4_fk_grupo_grupo_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.grupo_genero
    ADD CONSTRAINT grupo_genero_grupo_id_3f7567e4_fk_grupo_grupo_id FOREIGN KEY (grupo_id) REFERENCES public.grupo(grupo_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mensaje mensaje_chat_id_4ada6a98_fk_chat_chat_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensaje
    ADD CONSTRAINT mensaje_chat_id_4ada6a98_fk_chat_chat_id FOREIGN KEY (chat_id) REFERENCES public.chat(chat_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mensaje_leido mensaje_leido_mensaje_id_5ec65ab7_fk_mensaje_mensaje_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensaje_leido
    ADD CONSTRAINT mensaje_leido_mensaje_id_5ec65ab7_fk_mensaje_mensaje_id FOREIGN KEY (mensaje_id) REFERENCES public.mensaje(mensaje_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mensaje_leido mensaje_leido_perfil_id_2f934630_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensaje_leido
    ADD CONSTRAINT mensaje_leido_perfil_id_2f934630_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mensaje mensaje_perfil_id_181bba52_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensaje
    ADD CONSTRAINT mensaje_perfil_id_181bba52_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: multimedia multimedia_anuncio_id_dc32a9ef_fk_anuncio_anuncio_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.multimedia
    ADD CONSTRAINT multimedia_anuncio_id_dc32a9ef_fk_anuncio_anuncio_id FOREIGN KEY (anuncio_id) REFERENCES public.anuncio(anuncio_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: multimedia multimedia_perfil_id_2c218645_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.multimedia
    ADD CONSTRAINT multimedia_perfil_id_2c218645_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: multimedia multimedia_tipo_id_05167277_fk_tipo_archivo_tipo_archivo_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.multimedia
    ADD CONSTRAINT multimedia_tipo_id_05167277_fk_tipo_archivo_tipo_archivo_id FOREIGN KEY (tipo_id) REFERENCES public.tipo_archivo(tipo_archivo_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_chat perfil_chat_chat_id_31050812_fk_chat_chat_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_chat
    ADD CONSTRAINT perfil_chat_chat_id_31050812_fk_chat_chat_id FOREIGN KEY (chat_id) REFERENCES public.chat(chat_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_chat perfil_chat_perfil_id_26c2b76d_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_chat
    ADD CONSTRAINT perfil_chat_perfil_id_26c2b76d_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil perfil_comarca_id_1c149b10_fk_comarca_comarca_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_comarca_id_1c149b10_fk_comarca_comarca_id FOREIGN KEY (comarca_id) REFERENCES public.comarca(comarca_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_genero_musical perfil_genero_musica_genero_id_7d3c04ea_fk_genero_mu; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_genero_musical
    ADD CONSTRAINT perfil_genero_musica_genero_id_7d3c04ea_fk_genero_mu FOREIGN KEY (genero_id) REFERENCES public.genero_musical(genero_musical_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_genero_musical perfil_genero_musical_perfil_id_0cfe6d16_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_genero_musical
    ADD CONSTRAINT perfil_genero_musical_perfil_id_0cfe6d16_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_grupo perfil_grupo_grupo_id_0c424b7d_fk_grupo_grupo_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_grupo
    ADD CONSTRAINT perfil_grupo_grupo_id_0c424b7d_fk_grupo_grupo_id FOREIGN KEY (grupo_id) REFERENCES public.grupo(grupo_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_grupo perfil_grupo_perfil_id_483d89da_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_grupo
    ADD CONSTRAINT perfil_grupo_perfil_id_483d89da_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_instrumento perfil_instrumento_instrumento_id_1d3c911b_fk_instrumen; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_instrumento
    ADD CONSTRAINT perfil_instrumento_instrumento_id_1d3c911b_fk_instrumen FOREIGN KEY (instrumento_id) REFERENCES public.instrumento(instrumento_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil_instrumento perfil_instrumento_perfil_id_41b6a450_fk_perfil_perfil_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil_instrumento
    ADD CONSTRAINT perfil_instrumento_perfil_id_41b6a450_fk_perfil_perfil_id FOREIGN KEY (perfil_id) REFERENCES public.perfil(perfil_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: perfil perfil_usuario_id_9e6be319_fk_usuario_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.perfil
    ADD CONSTRAINT perfil_usuario_id_9e6be319_fk_usuario_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.usuario(usuario_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_groups usuario_groups_group_id_c67c8651_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_groups
    ADD CONSTRAINT usuario_groups_group_id_c67c8651_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_groups usuario_groups_usuario_id_161fc80c_fk_usuario_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_groups
    ADD CONSTRAINT usuario_groups_usuario_id_161fc80c_fk_usuario_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.usuario(usuario_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_user_permissions usuario_user_permiss_permission_id_a8893ce7_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_user_permissions
    ADD CONSTRAINT usuario_user_permiss_permission_id_a8893ce7_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_user_permissions usuario_user_permiss_usuario_id_693d9c50_fk_usuario_u; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario_user_permissions
    ADD CONSTRAINT usuario_user_permiss_usuario_id_693d9c50_fk_usuario_u FOREIGN KEY (usuario_id) REFERENCES public.usuario(usuario_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: root
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict NelJdmVcFK5Wp9hFeftO529qUH57hUIbpcYyGrk5wlm3B8Jb52Ol9m8e6yrwI6p

