# PostgreSQL
POSTGRES_DB=ENSAMBLIA_DB
POSTGRES_USER=root
POSTGRES_PASSWORD=cambia_esto

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=cambia_esto

# MinIO (S3-compatible)
MINIO_ROOT_USER=cambia_esto
MINIO_ROOT_PASSWORD=cambia_esto_8chars
MINIO_BUCKET_NAME=ensamblia-media